
#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#members {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.member_card {
  margin: 20px;
  padding: 20px;
  width: 16%;

  border-radius: 6px;
  border: 1px solid #fff;

  height: 100%;

  transition: all 0.2s ease-in-out;
}

.member_card:hover {
  /* Make grow slightly larger on hover */
  transform: scale(1.1);
  cursor: pointer;
}

.member_image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.member_image img {
  width: 50%;
  height: 50%;

  border-radius: 50%;
}

.member_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member_links img {
  width: 20px;
  height: 20px;

  padding: 4px;
}

#about_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#about_body p {
  padding: 10px;
  font-size: 1rem;
}