html {
  padding: 0;
  margin: 0;

  background-color: #000;
  color: #fff;

  font-family: 'Lato', sans-serif;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
  margin: auto;
  width: 80%;

}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

#top a {
  color: #fff;
  text-decoration: none;

  font-size: 1.3rem;
}

#top a::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}

#top a:hover::after{
  transform: scale(1);
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;
  font-size: 2rem;
}

#logo img {
  width: 60px;
  height: 60px;

  padding-right: 10px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_item {
  padding: 20px;
}

#about_main,
#github_main,
#games_main {
  padding: 10px;
}

#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member_card {
  margin: 20px;
  padding: 20px;
  width: 16%;

  border-radius: 6px;
  border: 1px solid #fff;
}

.member_image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.member_image img {
  width: 50%;
  height: 50%;

  border-radius: 50%;
}

.member_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member_links img {
  width: 20px;
  height: 20px;

  padding: 4px;
}

#about_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#about_body p {
  padding: 10px;
  font-size: 1.2rem;
}