html {
  padding: 0;
  margin: 0;

  background-color: #000;
  color: #fff;

  font-family: 'Lato', sans-serif;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
  margin: auto;
  width: 80%;

}

p {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1rem;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

#top a {
  color: #fff;
  text-decoration: none;

  font-size: 1.3rem;
}

#top a::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}

#top a:hover::after{
  transform: scale(1);
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;
  font-size: 2rem;
}

#logo img {
  width: 60px;
  height: 60px;

  padding-right: 10px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_item {
  padding: 20px;
}

#about_main,
#github_main,
#games_main {
  padding: 10px;
}